<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectavo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" style="text-align: center">
<h1>Counting number of verbs / nouns in All books </h1>
    <div class="row">
        <div class="col-sm-4">
     <b> Verbs</b>
            <table>
{% for key, value in verbs.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>

  </div>
  <div class="col-sm-6">
           <b>Nouns</b>
      <table>
{% for key, value in nouns.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>

  </div>
  <div class="col-sm-2">
      <table>
          <b>count</b>
{% for key, value in count.items() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>
  </div>
</div>

</div>
</body>
</html>