<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectavo-Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h1 style=" text-align: center;"> Connectavo </h1>
    <br>
<div class="row" style=" text-align: center;">
    <div class="col-sm-4"><b><p style="font-size:18px ">Words Count</p></b>
  <div>
    <ol>
        <li>
      <a href="http://127.0.0.1:5000/words_count/1">The Notebooks of Leonardo Da Vinci — Complete by da Vinci Leonardo(5000.8)</a>


        </li>
        <br>
        <li>
        <a href="http://127.0.0.1:5000/words_count/2">The Outline of Science, Vol. 1 (of 4) by J. Arthur Thomson (pg20147)</a>


        </li>
        <br>
        <li>
      <a href="http://127.0.0.1:5000/words_count/3">Ulysses by James Joyce</a>
      </li>
          <br>
        <li>
      <a href="http://127.0.0.1:5000/words_count/all">All</a>
      </li>
          <br>
    </ol>
  </div>
  </div>
  <div class="col-sm-4"><b><p style="font-size:18px ">Nouns / verbs count</p></b>
  <div>
    <ol>
        <li>
      <a href="http://127.0.0.1:5000/verbs_count/1">The Notebooks of Leonardo Da Vinci — Complete by da Vinci Leonardo(5000.8)</a>


        </li>
        <br>
        <li>
        <a href="http://127.0.0.1:5000/verbs_count/2">The Outline of Science, Vol. 1 (of 4) by J. Arthur Thomson (pg20147)</a>


        </li>
        <br>
        <li>
      <a href="http://127.0.0.1:5000/verbs_count/3">Ulysses by James Joyce</a>
      </li>
          <br>
    </ol>
  </div>
  </div>
  <div class="col-sm-4"><b><p style="font-size:18px ">Bonus -top 10 most unique / dissimilar sentences</p></b>
    <ol>
        <li>
        <a href="http://127.0.0.1:5000/top_10/1">The Notebooks of Leonardo Da Vinci — Complete by da Vinci Leonardo(5000.8)</a>
        </li>
        <br>
         <li>
        <a href="http://127.0.0.1:5000/top_10/2">The Outline of Science, Vol. 1 (of 4) by J. Arthur Thomson (pg20147)</a>
        </li>
        <br>
         <li>
        <a href="http://127.0.0.1:5000/top_10/3">Ulysses by James Joyce</a>
        </li>
        <br>
         <li>
             <form action="http://127.0.0.1:5000/compare/">
  Type your own string: <input type="text" name="data"><br>
  <input type="submit" value="Submit">
</form>
        </li>
    </ol>


  </div>
</div>
</div>


</body>
</html>