<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connectavo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" style="text-align: center">
<h1>User Sentence Similarity in book {{book}}</h1>
<h2>User Original Sentence is :{{sentence}}</h2>
<br>
 <h3>Similar Sentence</h3>
    <b>{{similar}}</b>

 <h3>Dis-similar Sentence</h3>
    <b>{{dissimilar}}</b>
</div>
</body>
</html>